$name: cloud;

.#{$name} {
	overflow: hidden;

	&__tags-wrap {
		margin-left: -5px;
	}

	&__tags {
		display: flex;
		align-items: flex-start;
		white-space: nowrap;
		overflow: auto;
	}

	&__tag {
		margin: 10px 5px;
	}

	&__input-wrap {
		position: relative;
	}

	&__input {
		padding-right: 77px;
	}

	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		opacity: 1;

		&_hidden {
			opacity: 0;
			display: none;
		}
	}
}