block vars

doctype html
html(lang="ru")
	head
		block head
			include ../partials/head

		title #{page.title} | #{global[0].name}
	body

		.wrapper(class= page.color ? 'wrapper_color_' + page.color : '')
			include ../partials/header

			main.main
				.section
					.container
						.row
							.col-lg-9.col-xl-8
								block content
							.col-lg-3.col-xl-4
								include ../partials/banners

			include ../partials/footer

		// END OF VISIBLE CONTENT
		include ../partials/aside
		include ../partials/modal