$name: banner;

.#{$name} {
	@extend %radius;
	border: 1px solid $color-gray-light;
	overflow: hidden;
	display: block;
	width: 100%;
	position: relative;
	background: white;

	&__img {
		display: block;
		width: 100%;
		padding-bottom: 100%;
		background: $color-gray-light no-repeat center / cover;
		transition: $duration linear;
		position: relative;
		z-index: 1;
	}

	&__text {
		@extend %radius;
		position: absolute;
		bottom: 10px;
		left: 10px;
		width: calc(100% - 20px);
		max-height: calc(100% - 20px);
		padding: 5px;
		font-size: 20px;
		text-align: center;
		z-index: 4;
		background-color: rgba($color-gray, .85);
	}

	&__icon {
		width: 1.4em;
		height: .6em;
		margin-left: .5em;
		fill: currentColor;
	}

	&_wide {

		.#{$name} {
			// =====

			&__img {
				padding-bottom: 50%;
			}
		}
	}

	&_fog {

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $color-gray;
			transition: $duration / 2 linear;
		}

		&::before {
			opacity: .85;
			z-index: 2;
		}

		&::after {
			opacity: 0;
		}

		.#{$name} {
			// =====

			&__img {
				background-color: transparent;
			}

			&__text {
				background-color: transparent;
			}
		}

		&:hover {

			&::before {
				opacity: .4;
			}
		}

		&:active {

			&::before {
				opacity: 0;
			}

			&::after {
				opacity: .85;
			}
		}
	}

	&_contain {

		.#{$name} {
			// =====

			&__img {
				background-color: transparent;
				background-size: contain;
			}
		}
	}
}

a.#{$name} {

	&:hover {

		.#{$name} {
			// =====

			&__img {
				transform: scale(1.03) rotate(-.5deg);
			}
		}
	}

	&.fancybox {

		&:hover {

			.#{$name} {
				// =====

				&__img {
					transform: none;
				}
			}
		}
	}
}