$name: banner;

.#{$name} {
	@extend %radius;
	border: 1px solid $color-gray-light;
	overflow: hidden;
	display: block;
	width: 100%;
	position: relative;

	&__img {
		display: block;
		width: 100%;
		padding-bottom: 100%;
		background: $color-gray-light no-repeat center / cover;
		transition: $duration linear;
	}

	&__text {
		@extend %radius;
		position: absolute;
		bottom: 15px;
		left: 15px;
		width: calc(100% - 30px);
		max-height: calc(100% - 30px);
		padding: 5px;
		font-size: 20px;
		text-align: center;
		z-index: 1;
		background-color: rgba($color-gray, .9);
	}

	&__icon {
		width: 1.4em;
		height: .6em;
		margin-left: .5em;
		fill: currentColor;
	}

	&_wide {

		.#{$name} {
			// =====

			&__img {
				padding-bottom: 50%;
			}
		}
	}

	&_fog {

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $color-gray;
			opacity: .9;
			z-index: 1;
			transition: $duration linear;
		}

		.#{$name} {
			// =====

			&__img {
				background-color: transparent;
			}

			&__text {
				background-color: transparent;
				transition: $duration linear;
			}
		}

		&:hover {

			.#{$name} {
				// =====

				&__text {
					background-color: rgba($color-gray, .9);
				}
			}
		}
	}
}

a.#{$name} {

	&:hover {

		&::before {
			opacity: 0;
		}

		.#{$name} {
			// =====

			&__img {
				transform: scale(1.03) rotate(-.5deg);
			}
		}
	}
}