$name: block;

.#{$name} {
	@extend %radius;
	border: 1px solid $color-gray-light;
	overflow: hidden;
	background: white;
	padding: 15px;

	@include screen-sm() {
		padding: 20px;
	}

	&_text {
		padding-bottom: 10px;

		@include screen-sm() {
			padding-bottom: 15px;
		}
	}

	&_lg {
		padding: 15px 25px;

		@include screen-sm() {
			padding: 20px 35px;
		}
	}
}