$name: card;

.#{$name} {
	@extend %radius;
	border: 1px solid $color-gray-light;
	overflow: hidden;
	background: white;
	padding: 15px;

	@include screen-md() {
		display: flex;
		padding: 20px;
	}

	&__img-wrap {
		display: block;
		flex: none;
		padding-bottom: 15px;

		@include screen-md() {
			width: 33%;
			max-width: 300px;
			padding-bottom: 0;
			padding-right: 20px;
		}
	}

	&__img-link {
		@extend %radius;
		border: 1px solid $color-gray-light;
		overflow: hidden;
		display: block;
		width: 100%;
		position: relative;
	}

	&__img {
		display: block;
		width: 100%;
		padding-bottom: 100%;
		height: 100%;
		background: no-repeat center / cover;
		transition: $duration linear;
		position: relative;
		z-index: 1;
	}

	&__content-wrap {
		flex: auto;
		display: flex;
		flex-direction: column;
	}

	&__calendar-wrap {
		flex: none;
		padding-top: 15px;
		display: flex;
		align-items: flex-start;
		justify-content: center;

		@include screen-md() {
			padding-top: 0;
			padding-left: 20px;
		}
	}

	&__row {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__top {

		@include screen-sm() {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	&__title-wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 15px;

		@include screen-sm() {
			margin-right: 1em;
		}

		&_space_sm {
			margin-bottom: 5px;
		}
	}

	&__title {
		line-height: 1.2;
	}

	&__star-wrap {
		margin-left: 1em;
	}

	&__tel-wrap {
		margin-bottom: 15px;
	}

	&__tags {
		display: flex;
	}

	&__text {

	}

	&__btn-wrap {
		margin: auto -15px -15px;
		display: flex;
		flex-wrap: wrap;
	}

	&__btn {
		padding: 0 15px;
		margin-bottom: 15px;
		flex: 1 0 50%;
		white-space: nowrap;

		@include screen-lg() {
			max-width: 320px;
		}

		&_align_center {
			text-align: center;
		}
	}

	&__date-wrap {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	&__date {
		font-size: 13px;
		color: $color-gray;
		margin-top: 15px;
		margin-left: auto;
	}

	&_space_sm {

		@include screen-md() {
			padding: 15px;
		}

		.#{$name} {
			// =====

			&__img-wrap {

				@include screen-md() {
					width: 30%;
					padding-right: 15px;
				}
			}

			&__calendar-wrap {

				@include screen-md() {
					padding-left: 15px;
				}
			}
		}
	}

	&_img_sm {

		.#{$name} {
			// =====

			&__img-wrap {

				@include screen-md() {
					width: 50%;
					max-width: none;
				}
			}

			&__img {
				padding-bottom: 66%;
			}
		}
	}

	&_img_md {

		.#{$name} {
			// =====

			&__img-wrap {

				@include screen-md() {
					width: 40%;
					max-width: none;
				}
			}

			&__img {
				padding-bottom: 83%;
			}
		}
	}

	&_vertical {

		@include screen-md() {
			flex-direction: column;
		}

		.#{$name} {
			// =====

			&__img-wrap {

				@include screen-md() {
					width: 100%;
					max-width: none;
					padding-right: 0;
					padding-bottom: 15px;
				}
			}

			&__calendar-wrap {

				@include screen-md() {
					padding-top: 15px;
					padding-left: 0;
				}
			}

			&__top {

				@include screen-sm() {
					display: block;
				}
			}

			&__title-wrap {

				@include screen-sm() {
					margin-right: 0;
				}
			}

			&__btn {

				@include screen-lg() {
					max-width: none;
				}
			}
		}
	}

	&_contain {

		.#{$name} {
			// =====

			&__img {
				background-size: contain;
			}
		}
	}

	&_noimage {

		.#{$name} {
			// =====

			&__img-link {

				&::before {
					content: '\e802';
					font-family: $font-custom;
					font-size: 100px;
					color: $color-gray;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					opacity: .5;
					transition: $duration linear;
				}

				&:hover {

					&::before {
						opacity: 1;
					}
				}
			}
		}

		a.#{$name}__img-link {

			&:hover {

				&::before {
					transform: scale(1.06);
				}
			}

			&.fancybox {

				&:hover {

					&::before {
						transform: none;
					}
				}
			}
		}
	}
}

a.#{$name}__img-link {

	&:hover {

		.#{$name} {
			// =====

			&__img {
				transform: scale(1.03) rotate(-.5deg);
			}
		}
	}

	&.fancybox {

		&:hover {

			.#{$name} {
				// =====

				&__img {
					transform: none;
				}
			}
		}
	}
}