$name: footer;

.#{$name} {
	flex: 0 0 auto;
	position: relative;

	&__wrap {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	&__social-outer {
		text-align: center;
		margin-bottom: 15px;

		@include screen-lg() {
			position: absolute;
			bottom: 100%;
			right: 15px;
			text-align: right;
		}
	}

	&__requisite {
		display: none;
	}

	&__text-wrap {
		margin: 0 -15px -5px;
		text-align: center;
		font-size: 13px;

		@include screen-sm() {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__text-col {
		padding: 0 15px;
		margin-bottom: 5px;
	}

	&_home {

		.#{$name} {
			// =====

			&__wrap {

				@include screen-lg() {
					padding-top: 0;
					padding-bottom: 0;
				}
			}

			&__social-outer {

				@include screen-lg() {
					margin-bottom: 35px;
				}
			}

			&__social-wrap {
				margin-bottom: 15px;
			}

			&__requisite {
				display: inline;
			}

			&__text-wrap {
				display: none;
			}
		}
	}
}