$name: header;

.#{$name} {
	flex: 0 0 auto;
	z-index: 1;
	background: no-repeat center / cover;
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	&::before {
		height: $height-header;
		max-height: 100%;
		background: linear-gradient(to bottom, white, transparent);
	}

	&::after {
		height: 100%;
		background-color: $color-gray-dark;
		opacity: .7;
		z-index: -1;
	}

	&__wrap {
		padding-top: 15px;
		padding-bottom: 15px;

		@include screen-lg() {
			height: $height-header / 2;
		}
	}

	&__row {
		margin: 0 -15px;

		@include screen-lg() {
			display: flex;
			justify-content: space-between;
			height: 100%;
		}
	}

	&__col {
		height: 100%;
		padding: 0 15px;
		margin-bottom: 30px;

		@include screen-lg() {
			margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__logo-wrap {

		@include screen-lg() {
			display: inline-block;
			height: 100%;
			width: 260px;
		}
	}

	&__btns-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: -7px;
		height: 100%;

		@include screen-lg() {
			flex-wrap: nowrap;
			margin-top: 0;
			margin-bottom: 0;
		}

		@include screen-xl() {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__btns-col {
		padding: 0 7px;
		margin: 7px 0;
		flex: auto;

		@include screen-lg() {
			flex: none;
			margin: 0;
		}

		@include screen-xl() {
			padding-left: 15px;
			padding-right: 15px;
		}

		&_fixed {
			flex: none;
		}

		&_grow {

			@include screen-lg() {
				flex: auto;
			}
		}
	}

	&__toggle-wrap {
		display: flex;
		padding-right: 0;

		@include screen-xl() {
			padding-right: 0;
		}
	}

	&__toggle {
		flex: none;
		margin-left: 7px;
		padding-left: 7px;
		padding-right: 7px;
		width: 51px;

		@include screen-xl() {
			margin-left: 15px;
			padding-left: 15px;
			padding-right: 15px;
			width: 65px;
		}
	}

	&__bg-outer {
		padding: 15px 0 0;
		overflow: hidden;

		@include screen-sm() {
			min-height: 300px;
			display: flex;
		}
	}

	&__bg-wrap {

		@include screen-sm() {
			display: flex;
			flex-direction: column;
		}
	}

	&__bg-row {

		@include screen-sm() {
			flex-grow: 1;
		}
	}

	&__bg-col {

		@include screen-sm() {
			display: flex;
			flex-flow: column wrap;
			justify-content: flex-end;
		}
	}

	&__title {
		text-align: center;
		padding-bottom: 30px;

		@include screen-sm() {
			text-align: left;
			margin-top: auto;
			margin-bottom: auto;
		}

		&_space-bot_lg {

			@include screen-sm() {
				padding-bottom: 110px;
			}
		}
	}

	&__bread {
		padding-bottom: 30px;
	}

	&__date-wrap {
		padding-bottom: 15px;
	}

	&__date {
		font-size: 13px;
	}

	&__offer-btn {
		text-align: center;
		margin-bottom: 20px;

		@include screen-sm() {
			margin-bottom: 0;
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&_home {

		&::before,
		&::after {
			display: none;
		}

		.#{$name} {
			// =====

			&__wrap {
				padding-bottom: 30px;

				@include screen-sm() {
					padding-top: 30px;
				}

				@include screen-lg() {
					height: $height-header;
				}
			}

			&__col {

				@include screen-lg() {
					width: 50%;
				}
			}

			&__logo-wrap {

				@include screen-lg() {
					display: block;
					width: auto;
				}
			}
		}
	}
}

span.#{$name} {

	&__date {
		color: white;
		fill: white;

		&:hover,
		&:active {
			color: white;
			fill: white;
		}
	}
}