$name: link-line;

.#{$name} {
	@extend %transition;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
	line-height: 1.2;
	min-width: 55px;
	font-size: 7rem;
	color: $color-third;

	&::before,
	&::after {
		transition: $duration / 2 ease;
		content: '';
		width: 100%;
		height: .15em;
		background: no-repeat left / auto 100%;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		opacity: 0;
	}

	&::before {
		background-image: url($path + 'img/icons/line-hover.svg');
		order: 1;
		margin-top: -.15em;
		z-index: 1;
	}

	&::after {
		background-image: url($path + 'img/icons/line-active.svg');
		z-index: 2;
	}

	&:hover {
		color: $color-second;

		&::before {
			opacity: 1;
		}

		&::after {
			transition: none;
		}
	}

	&:active {
		color: $color-second-active;

		&::before {
			transition: none;
		}

		&::after {
			transition: none;
			opacity: 1;
		}
	}

	&_simple {
		font-size: inherit;
		line-height: 1.2;

		&::before,
		&::after {
			height: .3em;
		}

		&::before {
			margin-top: -.3em;
		}
	}
}