$name: link;

.#{$name} {
	@extend a:not([class]);

	&__icon {
		width: 2em;
		height: 1.334em;
		max-height: none;
		position: absolute;
		right: 100%;
		padding-right: .4em;
		top: 50%;
		transform: translateY(-50%);

		&_after {
			right: auto;
			left: 100%;
			padding-right: 0;
			padding-left: .4em;
		}
	}

	&_icon_before,
	&_icon_after {
		position: relative;
		fill: $color-main;

		&:hover {
			fill: $color-second;
		}

		&:active {
			fill: $color-second-active;
		}
	}

	&_icon_before {
		margin-left: 30px;
	}

	&_icon_after {
		margin-right: 30px;
	}

	&_line_none {
		border-bottom: none;
	}

	&_nowrap {
		white-space: nowrap;
	}

	&_color_1 {
		color: $color-main;
		border-color: $color-main;
	}
}

span.#{$name} {

	&:hover,
	&:active {
		color: inherit;
		border-color: inherit;
	}

	&_icon_before,
	&_icon_after {

		&:hover,
		&:active {
			fill: $color-main;
		}
	}

	&_color_1 {
		color: $color-main;

		&:hover,
		&:active {
			color: $color-main;
		}
	}
}