$name: link-arrow;

.#{$name} {
	@extend %transition;
	display: inline-flex;
	align-items: center;
	color: $color-text;
	fill: currentColor;

	&:hover {
		color: $color-second;
	}

	&:active {
		color: $color-second-active;
	}

	&__icon {
		width: 2em;
		height: .8em;
		margin-left: .7em;
	}

	&__text {

	}

	&_left {

		.#{$name} {
			// =====

			&__icon {
				transform: rotate(180deg);
				margin-left: 0;
				margin-right: .7em;
			}
		}
	}

	&_disabled {
		cursor: default;
		color: $color-gray;

		&:hover,
		&:active {
			color: $color-gray;
		}
	}
}