$name: main;

.#{$name} {
	flex: 1 0 auto;

	&__separator {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $color-gray;

		&:first-child {
			margin-top: 30px;
		}
	}

	&__space-col {
		margin-bottom: 30px;
	}

	&__space-bot {
		margin-bottom: 20px;
	}

	&__space-bot-half {
		margin-bottom: 10px;
	}

	&__footer-spacer {

		@include screen-lg() {
			margin-bottom: 75px;
		}
	}

	&__bg_black {
		background: black;
	}
}