$name: params-lg;

.#{$name} {

	&__wrap {
		width: 100%;

		@include screen-sm() {
			display: table;
		}
	}

	&__row {

		@include screen-sm() {
			display: table-row;
		}

		&:last-child {

			.#{$name} {
				// =====

				&__title {

					@include screen-sm() {
						padding-bottom: 0;
					}
				}

				&__value {
					padding-bottom: 0;
				}
			}
		}

		&_valign_baseline {

			.#{$name} {
				// =====

				&__title {

					@include screen-sm() {
						vertical-align: baseline;
					}
				}

				&__value {

					@include screen-sm() {
						vertical-align: baseline;
					}
				}
			}
		}

		&_valign_top {

			.#{$name} {
				// =====

				&__title {

					@include screen-sm() {
						vertical-align: top;
						padding-top: 10px;
					}
				}

				&__value {

					@include screen-sm() {
						vertical-align: top;
					}
				}
			}
		}

		&_space_half {

			.#{$name} {
				// =====

				&__title {

					@include screen-sm() {
						padding-bottom: 10px;
					}
				}

				&__value {
					padding-bottom: 10px;
				}
			}
		}
	}

	&__title {
		color: $color-text-dark;
		font-weight: normal;
		padding-bottom: 5px;

		@include screen-sm() {
			display: table-cell;
			padding-right: 20px;
			padding-bottom: 20px;
			text-align: right;
			vertical-align: middle;
			line-height: 1.3;
		}
	}

	&__value {
		padding-bottom: 20px;

		@include screen-sm() {
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}
	}

	&__row-i {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px -20px;
	}

	&__col-i {
		padding: 0 10px 20px;
	}

	&_fixed-title {

		.#{$name} {
			// =====

			&__wrap {
				table-layout: fixed;
			}

			&__title {

				@include screen-sm() {
					width: 140px;
				}
			}
		}
	}
}