$name: params;

.#{$name} {

	&__wrap {
		display: table;
		width: auto;
	}

	&__row {
		display: table-row;

		&:last-child {

			.#{$name} {
				// =====

				&__title {
					padding-bottom: 0;
				}

				&__value {
					padding-bottom: 0;
				}
			}
		}
	}

	&__title {
		color: $color-gray;
		display: table-cell;
		padding-right: 5px;
		padding-bottom: 5px;
	}

	&__value {
		color: $color-text;
		display: table-cell;
		padding-bottom: 5px;
	}

	&_sm {
		font-size: 13px;
	}
}