$name: tags;

.#{$name} {
	display: flex;
	white-space: pre-wrap;

	&__outer {
		@extend %transition;
		position: relative;
		fill: $color-third;

		&:hover {
			fill: $color-second;
		}

		&:active {
			fill: $color-second-active;
		}
	}

	&__wrap {
		padding-left: 30px;
	}

	&__item {

	}

	&__delimiter {
		display: inline-block;
	}

	&__icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;
		height: 20px;
		padding-right: 5px;
	}

	&_sm {
		font-size: 13px;

		.#{$name} {
			// =====

			&__wrap {
				padding-left: 1.5em;
			}

			&__icon {
				width: 1em;
				height: 1em;
				padding: 0;
			}
		}
	}

	&_color_gray {

		.#{$name} {
			// =====

			&__outer {
				fill: $color-gray;
				color: $color-gray;

				&:hover {
					fill: $color-second;
				}

				&:active {
					fill: $color-second-active;
				}
			}

			&__item {
				color: $color-gray;
			}
		}

		a.#{$name} {
			// =====

			&__item {

				&:hover {
					@extend a:not([class]):hover;
				}

				&:active {
					@extend a:not([class]):active;
				}
			}
		}
	}
}