$name: title;

.#{$name} {
	font-weight: 300;
	font-size: 3.6rem;

	&_sm {
		font-size: 20px;
	}

	&_color_1 {
		color: $color-main;
	}

	&_color_2 {
		color: $color-third;
	}

	&_color_dark {
		color: $color-text-dark;
	}
}