$name: title;

.#{$name} {
	font-weight: 300;
	font-size: 3.6rem;
	line-height: 1.2;

	&_sm {
		font-size: 20px;
	}

	&_md {
		font-size: 26px;
	}

	&_lg {
		font-size: 5rem;
	}

	&_color_1 {
		color: $color-main;
	}

	&_color_2 {
		color: $color-third;
	}

	&_color_dark {
		color: $color-text-dark;
	}

	&_color_white {
		color: white;
	}

	&_bold {
		font-weight: normal;
	}
}