$name: date;

.#{$name} {
	@extend %radius;
	border: 1px solid $color-gray-light;
	background: white;
	overflow: hidden;
	position: relative;
	display: inline-block;

	.ui-datepicker-prev,
	.ui-datepicker-next {
		@extend %transition;
		position: absolute;
		top: 0;
		width: 30px;
		height: 36px;
		font-size: 15px;

		&::after {
			font-family: $font-fa;
			line-height: 1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			background-color: $color-light;
		}

		&:active {
			background-color: darken($color-light, 5%);
		}
	}

	.ui-datepicker-prev {
		left: 0;
		border-bottom-right-radius: 3px;

		&::after {
			content: '\f104';
		}
	}

	.ui-datepicker-next {
		right: 0;
		border-bottom-left-radius: 3px;

		&::after {
			content: '\f105';
		}
	}

	.ui-datepicker-title {
		display: flex;
		justify-content: space-between;
		font-size: 11px;
	}

	.ui-datepicker-month {
		color: $color-gray;
		padding: 5px 7px;
	}

	.ui-datepicker-year {
		padding: 5px 7px;
	}

	.ui-datepicker-calendar {
		border-collapse: collapse;

		th {
			font-size: 11px;
			font-weight: normal;
			padding: 5px 7px;
			background: $color-light;
		}

		td {
			font-size: 13px;
			padding: 0;
		}
	}

	.ui-datepicker-other-month {
		color: $color-gray;
		cursor: default;
	}

	.ui-state-default {
		display: block;
		padding: 4px 7px;
		border: 1px solid transparent;
	}

	a.ui-state-default {
		@extend %transition;

		&:hover {
			background-color: $color-light;
		}

		&:active {
			background-color: darken($color-light, 5%);
		}
	}

	.ui-state-highlight {
		border: 1px solid $color-second;
	}

	a.ui-state-active {
		background-color: $color-second;
		color: white;
		cursor: default;

		&:hover {
			background-color: $color-second;
		}
	}

	&__title {
		text-align: center;
		padding: 10px 30px 5px;
	}
}