$name: wrapper;

.#{$name} {
	height: 100%;
	display: flex;
	flex-direction: column;

	&__header {

		&_with-tabs {
			margin-bottom: 50px;
		}
	}

	&__tab {
		margin-bottom: -50px;
	}

	&__tab-header {
		position: relative;

		@include screen-sm() {
			margin-bottom: -1px;
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__tab-btn {
		@extend %transition;
		display: block;
		width: 100%;
		text-align: center;
		padding: 20px 40px;
		font-size: 20px;
		background-color: transparent;
		border: 1px solid transparent;
		border-bottom: none;
		outline: none;
		color: white;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		overflow: hidden;
		font-weight: normal;
		cursor: pointer;

		@include screen-sm() {
			width: 50%;
		}

		@include screen-lg() {
			width: auto;
			flex-grow: 1;
		}

		&:hover {
			background-color: rgba(white, .3);
		}

		&:active {
			background-color: rgba(white, .4);
		}

		&_active {
			color: $color-third;
			border-color: $color-gray-light;
			background-color: white;
			cursor: default;

			&:hover,
			&:active {
				background-color: white;
			}
		}
	}

	&__tab-body {
		@extend %radius;
		border: 1px solid $color-gray-light;
		overflow: hidden;
		background: white;
		display: flex;
		min-height: 130px;
		padding: 30px;
	}

	&__tab-panel {
		display: none;

		&_visible {
			display: block;
			width: 100%;
		}
	}

	&__tab-row {
		margin: 0 -15px;

		@include screen-sm() {
			display: flex;
			height: 100%;
		}
	}

	&__tab-col {
		padding: 0 15px;

		&_left {

			@include screen-sm() {
				flex: auto;
				margin-bottom: -30px;
				max-width: calc(100% - 195px);
			}
		}

		&_right {
			text-align: center;

			@include screen-sm() {
				display: flex;
				align-items: center;
				flex: none;
			}
		}

		&_with-checkbox {
			margin-bottom: 30px;

			@include screen-sm() {
				margin-bottom: -15px;
			}

			.#{$name} {
				// =====

				&__tab-item {
					width: 33.33333%;
					min-width: 130px;
					margin-bottom: 0;

					@include screen-sm() {
						width: 20%;
						margin-bottom: 15px;
						flex-grow: 0;
					}
				}
			}
		}
	}

	&__tab-item-wrap {
		display: flex;
		margin: 0 -15px;
		height: 100%;
		flex-wrap: wrap;
	}

	&__tab-item {
		flex-grow: 1;
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 30px;
		width: 100%;

		@include screen-sm() {
			width: auto;
			max-width: 100%;
		}
	}

	&__tab-title {
		color: $color-gray;
		line-height: 1;
		margin-bottom: 5px;
	}

	&__tab-submit {
		width: 165px;
		height: 100%;
		max-height: 68px;
	}

	&_home {

		@include screen-lg() {
			overflow: auto;
		}

		&::before {

			@include screen-lg() {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 50%;
				height: 100%;
				z-index: -1;
				background: url($path + 'img/zigzag.svg');
			}
		}
	}

	&_color_fourth {

		.#{$name} {
			// =====

			&__header {

				&::after {
					background-color: $color-fourth;
				}
			}

			&__text {
				color: $color-fourth-dark;
			}

			&__fill {
				fill: $color-fourth-dark;
			}

			&__link {
				fill: $color-fourth-dark;

				&.link_color_1 {
					color: $color-fourth-dark;
					border-color: $color-fourth-dark;

					&:hover {
						@extend a:not([class]):hover;
					}

					&:active {
						@extend a:not([class]):active;
					}
				}

				&:hover {
					@extend .link_icon_before:hover;
				}

				&:active {
					@extend .link_icon_before:active;
				}
			}

			&__star {
				color: $color-fourth-dark;
				stroke: $color-fourth-dark;

				&:hover {
					@extend .star:hover;
				}

				&:active {
					@extend .star:active;
				}

				&.star {
					// =====

					&_fill {
						fill: $color-fourth-dark;

						&:hover {
							@extend .star:hover;
						}

						&:active {
							@extend .star:active;
						}
					}
				}
			}

			&__tags {

				.tags {
					// =====

					&__outer {
						fill: $color-fourth-dark;

						&:hover {
							@extend .tags__outer:hover;
						}

						&:active {
							@extend .tags__outer:active;
						}
					}
				}

				&.tags_color_gray {

					.tags {
						// =====

						&__outer {
							fill: $color-gray;
							color: $color-gray;

							&:hover {
								@extend .tags__outer:hover;
							}

							&:active {
								@extend .tags__outer:active;
							}
						}
					}
				}
			}

			&__pagination {

				span.pagination {
					// =====

					&__num-text {
						color: $color-fourth-dark;
					}
				}
			}

			&__news {

				.news {
					// =====

					&__img {

						&::after {
							background-color: $color-fourth;
						}
					}

					&__title {
						color: $color-fourth-dark;
					}
				}
			}

			&__tab-btn {

				&_active {
					color: $color-fourth-dark;
				}
			}

			&__btn {
				color: $color-fourth-dark;

				&:hover {
					@extend .btn:hover;
				}

				&:active {
					@extend .btn:active;
				}

				&.btn_fill {
					@extend .btn_fill;
					background: $color-fourth;
					border-color: $color-fourth;
				}
			}

			&__check {

				.check {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									color: $color-fourth-dark;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}

			&__radio {

				.radio {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									background: $color-fourth-dark;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}
		}

		span.#{$name} {
			// =====

			&__link {

				&.link_color_1 {

					&:hover,
					&:active {
						color: $color-fourth-dark;
					}
				}

				&:hover,
				&:active {
					fill: $color-fourth-dark;
				}
			}
		}
	}

	&_color_fifth {

		.#{$name} {
			// =====

			&__header {

				&::after {
					background-color: $color-fifth;
				}
			}

			&__text {
				color: $color-fifth;
			}

			&__fill {
				fill: $color-fifth;
			}

			&__link {
				fill: $color-fifth;

				&.link_color_1 {
					color: $color-fifth;
					border-color: $color-fifth;

					&:hover {
						@extend a:not([class]):hover;
					}

					&:active {
						@extend a:not([class]):active;
					}
				}

				&:hover {
					@extend .link_icon_before:hover;
				}

				&:active {
					@extend .link_icon_before:active;
				}
			}

			&__star {
				color: $color-fifth;
				stroke: $color-fifth;

				&:hover {
					@extend .star:hover;
				}

				&:active {
					@extend .star:active;
				}

				&.star {
					// =====

					&_fill {
						fill: $color-fifth;

						&:hover {
							@extend .star:hover;
						}

						&:active {
							@extend .star:active;
						}
					}
				}
			}

			&__tags {

				.tags {
					// =====

					&__outer {
						fill: $color-fifth;

						&:hover {
							@extend .tags__outer:hover;
						}

						&:active {
							@extend .tags__outer:active;
						}
					}
				}

				&.tags_color_gray {

					.tags {
						// =====

						&__outer {
							fill: $color-gray;
							color: $color-gray;

							&:hover {
								@extend .tags__outer:hover;
							}

							&:active {
								@extend .tags__outer:active;
							}
						}
					}
				}
			}

			&__pagination {

				span.pagination {
					// =====

					&__num-text {
						color: $color-fifth;
					}
				}
			}

			&__news {

				.news {
					// =====

					&__img {

						&::after {
							background-color: $color-fifth;
						}
					}

					&__title {
						color: $color-fifth;
					}
				}
			}

			&__tab-btn {

				&_active {
					color: $color-fifth;
				}
			}

			&__btn {
				color: $color-fifth;

				&:hover {
					@extend .btn:hover;
				}

				&:active {
					@extend .btn:active;
				}

				&.btn_fill {
					@extend .btn_fill;
					background: $color-fifth;
					border-color: $color-fifth;
				}
			}

			&__check {

				.check {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									color: $color-fifth;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}

			&__radio {

				.radio {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									background: $color-fifth;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}
		}

		span.#{$name} {
			// =====

			&__link {

				&.link_color_1 {

					&:hover,
					&:active {
						color: $color-fifth;
					}
				}

				&:hover,
				&:active {
					fill: $color-fifth;
				}
			}
		}
	}

	&_color_sixth {

		.#{$name} {
			// =====

			&__header {

				&::after {
					background-color: $color-sixth;
				}
			}

			&__text {
				color: $color-sixth;
			}

			&__fill {
				fill: $color-sixth;
			}

			&__link {
				fill: $color-sixth;

				&.link_color_1 {
					color: $color-sixth;
					border-color: $color-sixth;

					&:hover {
						@extend a:not([class]):hover;
					}

					&:active {
						@extend a:not([class]):active;
					}
				}

				&:hover {
					@extend .link_icon_before:hover;
				}

				&:active {
					@extend .link_icon_before:active;
				}
			}

			&__star {
				color: $color-sixth;
				stroke: $color-sixth;

				&:hover {
					@extend .star:hover;
				}

				&:active {
					@extend .star:active;
				}

				&.star {
					// =====

					&_fill {
						fill: $color-sixth;

						&:hover {
							@extend .star:hover;
						}

						&:active {
							@extend .star:active;
						}
					}
				}
			}

			&__tags {

				.tags {
					// =====

					&__outer {
						fill: $color-sixth;

						&:hover {
							@extend .tags__outer:hover;
						}

						&:active {
							@extend .tags__outer:active;
						}
					}
				}

				&.tags_color_gray {

					.tags {
						// =====

						&__outer {
							fill: $color-gray;
							color: $color-gray;

							&:hover {
								@extend .tags__outer:hover;
							}

							&:active {
								@extend .tags__outer:active;
							}
						}
					}
				}
			}

			&__pagination {

				span.pagination {
					// =====

					&__num-text {
						color: $color-sixth;
					}
				}
			}

			&__news {

				.news {
					// =====

					&__img {

						&::after {
							background-color: $color-sixth;
						}
					}

					&__title {
						color: $color-sixth;
					}
				}
			}

			&__tab-btn {

				&_active {
					color: $color-sixth;
				}
			}

			&__btn {
				color: $color-sixth;

				&:hover {
					@extend .btn:hover;
				}

				&:active {
					@extend .btn:active;
				}

				&.btn_fill {
					@extend .btn_fill;
					background: $color-sixth;
					border-color: $color-sixth;
				}
			}

			&__check {

				.check {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									color: $color-sixth;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}

			&__radio {

				.radio {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									background: $color-sixth;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}
		}

		span.#{$name} {
			// =====

			&__link {

				&.link_color_1 {

					&:hover,
					&:active {
						color: $color-sixth;
					}
				}

				&:hover,
				&:active {
					fill: $color-sixth;
				}
			}
		}
	}

	&_color_seventh {

		.#{$name} {
			// =====

			&__header {

				&::after {
					background-color: $color-seventh;
				}
			}

			&__text {
				color: $color-seventh;
			}

			&__fill {
				fill: $color-seventh;
			}

			&__link {
				fill: $color-seventh;

				&.link_color_1 {
					color: $color-seventh;
					border-color: $color-seventh;

					&:hover {
						@extend a:not([class]):hover;
					}

					&:active {
						@extend a:not([class]):active;
					}
				}

				&:hover {
					@extend .link_icon_before:hover;
				}

				&:active {
					@extend .link_icon_before:active;
				}
			}

			&__star {
				color: $color-seventh;
				stroke: $color-seventh;

				&:hover {
					@extend .star:hover;
				}

				&:active {
					@extend .star:active;
				}

				&.star {
					// =====

					&_fill {
						fill: $color-seventh;

						&:hover {
							@extend .star:hover;
						}

						&:active {
							@extend .star:active;
						}
					}
				}
			}

			&__tags {

				.tags {
					// =====

					&__outer {
						fill: $color-seventh;

						&:hover {
							@extend .tags__outer:hover;
						}

						&:active {
							@extend .tags__outer:active;
						}
					}
				}

				&.tags_color_gray {

					.tags {
						// =====

						&__outer {
							fill: $color-gray;
							color: $color-gray;

							&:hover {
								@extend .tags__outer:hover;
							}

							&:active {
								@extend .tags__outer:active;
							}
						}
					}
				}
			}

			&__pagination {

				span.pagination {
					// =====

					&__num-text {
						color: $color-seventh;
					}
				}
			}

			&__news {

				.news {
					// =====

					&__img {

						&::after {
							background-color: $color-seventh;
						}
					}

					&__title {
						color: $color-seventh;
					}
				}
			}

			&__tab-btn {

				&_active {
					color: $color-seventh;
				}
			}

			&__btn {
				color: $color-seventh;

				&:hover {
					@extend .btn:hover;
				}

				&:active {
					@extend .btn:active;
				}

				&.btn_fill {
					@extend .btn_fill;
					background: $color-seventh;
					border-color: $color-seventh;
				}
			}

			&__check {

				.check {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									color: $color-seventh;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}

			&__radio {

				.radio {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									background: $color-seventh;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}
		}

		span.#{$name} {
			// =====

			&__link {

				&.link_color_1 {

					&:hover,
					&:active {
						color: $color-seventh;
					}
				}

				&:hover,
				&:active {
					fill: $color-seventh;
				}
			}
		}
	}

	&_color_eighth {

		.#{$name} {
			// =====

			&__header {

				&::after {
					background-color: $color-eighth;
				}
			}

			&__text {
				color: $color-eighth-dark;
			}

			&__fill {
				fill: $color-eighth-dark;
			}

			&__link {
				fill: $color-eighth-dark;

				&.link_color_1 {
					color: $color-eighth-dark;
					border-color: $color-eighth-dark;

					&:hover {
						@extend a:not([class]):hover;
					}

					&:active {
						@extend a:not([class]):active;
					}
				}

				&:hover {
					@extend .link_icon_before:hover;
				}

				&:active {
					@extend .link_icon_before:active;
				}
			}

			&__star {
				color: $color-eighth-dark;
				stroke: $color-eighth-dark;

				&:hover {
					@extend .star:hover;
				}

				&:active {
					@extend .star:active;
				}

				&.star {
					// =====

					&_fill {
						fill: $color-eighth-dark;

						&:hover {
							@extend .star:hover;
						}

						&:active {
							@extend .star:active;
						}
					}
				}
			}

			&__tags {

				.tags {
					// =====

					&__outer {
						fill: $color-eighth-dark;

						&:hover {
							@extend .tags__outer:hover;
						}

						&:active {
							@extend .tags__outer:active;
						}
					}
				}

				&.tags_color_gray {

					.tags {
						// =====

						&__outer {
							fill: $color-eighth-dark;
							color: $color-eighth-dark;

							&:hover {
								@extend .tags__outer:hover;
							}

							&:active {
								@extend .tags__outer:active;
							}
						}
					}
				}
			}

			&__pagination {

				span.pagination {
					// =====

					&__num-text {
						color: $color-eighth-dark;
					}
				}
			}

			&__news {

				.news {
					// =====

					&__img {

						&::after {
							background-color: $color-eighth;
						}
					}

					&__title {
						color: $color-eighth-dark;
					}
				}
			}

			&__tab-btn {

				&_active {
					color: $color-eighth-dark;
				}
			}

			&__btn {
				color: $color-eighth-dark;

				&:hover {
					@extend .btn:hover;
				}

				&:active {
					@extend .btn:active;
				}

				&.btn_fill {
					@extend .btn_fill;
					background: $color-eighth;
					border-color: $color-eighth;
				}
			}

			&__check {

				.check {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									color: $color-eighth-dark;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}

			&__radio {

				.radio {
					// =====

					&__input {

						&:checked {

							+ label {

								&::before {
									background: $color-eighth-dark;
								}

								&:hover {

									&::before {
										color: $color-second;
									}
								}

								&:active {

									&::before {
										color: $color-second-active;
									}
								}
							}
						}
					}
				}
			}
		}

		span.#{$name} {
			// =====

			&__link {

				&.link_color_1 {

					&:hover,
					&:active {
						color: $color-eighth-dark;
					}
				}

				&:hover,
				&:active {
					fill: $color-eighth-dark;
				}
			}
		}
	}
}