include svg

mixin cloud(data)
	.cloud

		- var str = [];

		if data

			each val in data
				- str.push(val);

		input.cloud__data(type='hidden' value= str)

		.cloud__input-wrap
			input.input.cloud__input(type='text' placeholder='Введите тег...')
			button.btn.btn_light.btn_icon_only.cloud__btn.cloud__btn_hidden
				+svg('arrow-right', 'btn__icon')

		.cloud__tags-wrap
			.cloud__tags