include svg

mixin link-arrow(data)
	a.link-arrow(
		class= data && data.dir == 'left' ? 'link-arrow_left' : ''
		class= data && data.disabled ? 'link-arrow_disabled' : ''
		class= attributes.class
		href= data && data.href ? data.href : '#'
	)

		if data && data.dir == 'left'
			+svg('arrow-right', 'link-arrow__icon')

		span.link-arrow__text
			block

		if !data || data && data.dir != 'left'
			+svg('arrow-right', 'link-arrow__icon')