include ../mixins/svg

mixin star(num)
	a.star(
		class= num ? 'star_fill' : ''
		class= attributes.class
		href= attributes.href || '#'
	)
		+svg('star', 'star__icon')

		if (num)
			span.star__num= num