include global
include svg

mixin tags(data)
	.tags(class= attributes.class)
		.tags__outer
			+svg(data.icon, 'tags__icon')

			.tags__wrap

				each val, i in data.items

					+g-tag((typeof val == 'object' && val.link) ? 'a' : 'span')(
						class='link link_line_none link_nowrap tags__item',
						href= val.link
					)= val.name || val

					if i < data.items.length - 1
						span.tags__delimiter= data.delimiter + ' '