include ../components/pagination
include ../mixins/card

.main__space-col
	+card(card[9])(class='card_img_md')

- for (var i = 0; i < 2; i++) {
	.main__space-col
		+card(card[10])
- }

.main__space-col
	+pagination(3, 1)(class='wrapper__pagination')