include ../components/pagination
include ../mixins/card

.mb-15.mb-sm-30
	+card(card[9])(class='card_img_md')

- for (var i = 0; i < 2; i++) {
.mb-15.mb-sm-30
		+card(card[10])
- }

.mb-15.mb-sm-30
	+pagination(3, 1)(class='wrapper__pagination')