include ../components/pagination
include ../mixins/card

each val in [9, 10, 10]
	.main__space-col
		+card(card[val])(class='card_thin')

.main__space-col
	+pagination(3, 1)(class='wrapper__pagination')