include ../components/pagination
include ../mixins/card

each val, i in [0, 5, 1, 4]

	.wrapper__tab-panel(data-wrapper-target='tab-' + (i + 1))

		- for (j = 0; j < 3; j++) {
			.mb-15.mb-sm-30
				+card(card[val])
		- }

		.mb-15.mb-sm-30
			+pagination(3, 1)(class='wrapper__pagination')