include ../components/slider
include ../mixins/params
include ../mixins/tags

.mb-15.mb-sm-30
	+slider({
		title: 'Украшение помещений',
		list: g_img_list
	})(class='slider_narrow')

.mb-15.mb-sm-30
	.block.block_text
		h2.title.title_sm.wrapper__text.mb-10 Описание
		.text
			p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау". Попса трансформирует дорийский соноропериод, благодаря быстрой смене тембров (каждый инструмент играет минимум звуков). Октавер интенсивен. Микрохроматический интервал, так или иначе, интенсивен. Легато параллельно.

.mb-30
	.block

		.mb-15
			+tags({
				icon: 'tags',
				delimiter: ',',
				items: [
					{"name": "Украшение помещений", "link": "#"},
					{"name": "декор", "link": "#"}
				]
			})(class='tags_sm tags_color_gray')

		.mb-15
			+tags({
				icon: 'tel',
				delimiter: ';',
				items: [
					{"name": "+7 (214) 654-44-87", "link": "tel:+72146544487"},
					{"name": "+7 (911) 845-23-08", "link": "tel:+79118452308"}
				]
			})(class='wrapper__tags')

		.mb-15
			+params(params_1)(class='params_sm')

		a.btn.btn_fill.btn_sm(href='#') Добавить в избранное