include ../mixins/card
include ../mixins/banner

.section
	.container
		.row

			.col-lg-9.col-xl-8
				.main__space-col
					+card(card[2])(class='card_thin')
				.main__space-col
					.block.block_md
						h2.title.title_sm.title_color_2.main__space-bot Описание
						.text
							p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау". Попса трансформирует дорийский соноропериод, благодаря быстрой смене тембров (каждый инструмент играет минимум звуков). Октавер интенсивен. Микрохроматический интервал, так или иначе, интенсивен. Легато параллельно.

			.col-lg-3.col-xl-4
				.main__space-col
					+banner
				.main__space-col
					+banner
				.main__footer-spacer