include ../components/slider
include ../mixins/card
include ../mixins/list

.mb-15.mb-sm-30
	+card(card[2])(class='card_space_sm')

.mb-15.mb-sm-30
	.block.block_text
		h2.title.title_sm.wrapper__text.mb-10 О себе
		.text
			p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау". Попса трансформирует дорийский соноропериод, благодаря быстрой смене тембров (каждый инструмент играет минимум звуков). Октавер интенсивен. Микрохроматический интервал, так или иначе, интенсивен. Легато параллельно.

.row

	.col-sm-5.col-md-4.mb-15.mb-sm-30
		.block.block_height_full
			.mb-20
				h2.title.title_sm.wrapper__text.mb-10 Программы
				+list(['Детский праздник', 'Новый год', 'Шоу программа', 'Вечеринка'])(class='list_sm wrapper__fill')
			.mb-20
				h2.title.title_sm.wrapper__text.mb-10 Образы
				+list(['Клоун', 'Пират', 'Человек-паук', 'Гарри Поттер'])(class='list_sm wrapper__fill')
			div
				h2.title.title_sm.wrapper__text.mb-10 Районы города
				+list(['Адмиралтейский', 'Приморский'])(class='list_sm wrapper__fill')

	.col-sm-7.col-md-8.mb-30
		+slider({
			title: 'Фото',
			list: g_img_list
		})(class='slider_height_full' dataSmRows='2' dataMdCols='2')