include ../components/slider
include ../mixins/banner
include ../mixins/params
include ../mixins/tags

.section
	.container
		.row

			.col-lg-9.col-xl-8

				.main__space-col
					.block.block_lg
						h1.title.title_md.title_color_2 Название площадки

				.main__space-col
					+slider({
						list: g_img_list
					})(class='slider_narrow slider_arrows_inner')

				.main__space-col
					.block.block_text
						h2.title.title_sm.title_color_2.main__space-bot-half Описание
						.text
							p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау". Попса трансформирует дорийский соноропериод, благодаря быстрой смене тембров (каждый инструмент играет минимум звуков). Октавер интенсивен. Микрохроматический интервал, так или иначе, интенсивен. Легато параллельно.


				.main__space-col
					.block

						.main__space-bot
							h2.title.title_sm.title_color_2 Контакты

						.main__space-bot
							+tags({
								icon: 'tel',
								delimiter: ';',
								items: [
									{"name": "+7 (214) 654-44-87", "link": "tel:+72146544487"},
									{"name": "+7 (911) 845-23-08", "link": "tel:+79118452308"}
								]
							})

						.main__space-bot
							+params(params_1)(class='params_sm')

						a.btn.btn_fill.btn_sm(href='#') Добавить в избранное

			.col-lg-3.col-xl-4
				.main__space-col
					+banner
				.main__space-col
					+banner
				.main__footer-spacer