include ../components/pagination
include ../mixins/card

.main__space-col
	+card(card[0])
.main__space-col
	+card(card[1])
.main__space-col
	+card(card[4])

.main__space-col
	+pagination(3, 1)(class='wrapper__pagination')