include ../components/pagination
include ../mixins/card

.mb-15.mb-sm-30
	+card(card[0])
.mb-15.mb-sm-30
	+card(card[1])
.mb-15.mb-sm-30
	+card(card[4])

.mb-15.mb-sm-30
	+pagination(3, 1)(class='wrapper__pagination')