//- TODO: В IE надо фиксить

include ../components/social
include ../mixins/news
include ../mixins/link-arrow

.greet

	.container.greet__wrap
		.greet__i

			.greet__col.greet__col_right

				.greet__row.greet__link-outer

					each val in menu
						.greet__link-wrap
							a.link-line.greet__link(href= val.link)= val.name

			.greet__col.greet__col_left

				.greet__row.greet__row_grow
					.greet__slider.greet__slider_home

						.greet__slider-wrap
							.greet__slider-item(data-title='Акции')
								.main__space-col
									+news(news[1])
								.main__space-col
									+news(news[2])

							.greet__slider-item(data-title='Новости')

								- for (var i = 0; i < 3; i++) {
									.main__space-col
										+news(news[0])
								- }

						.greet__slider-link-wrap
							.greet__slider-title
							+link-arrow({
								dir: 'left'
							})(class='greet__slider-btn greet__slider-btn_left')
							+link-arrow()(class='greet__slider-btn greet__slider-btn_right')