include ../components/pagination
include ../mixins/news

- for (var i = 0; i < 6; i++) {
	.main__space-col
		+news(news[0])(class='news_arrow wrapper__news')
- }

.main__space-col
	+pagination(3, 1)(class='wrapper__pagination')