include ../components/slider
include ../mixins/card
include ../mixins/banner

.mb-15.mb-sm-30
	+card(card[7])(class='card_space_sm')

.row

	each val in banner
		.col-sm-6.col-md-4.mb-15.mb-sm-30
			+banner({
				link: val.link,
				img: val.img,
				text: val.text
			})(class='banner_fog banner_contain wrapper__banner')

.mb-15.mb-sm-30
	.block.block_text
		h2.title.title_sm.wrapper__text.mb-10 О себе
		.text
			p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау". Попса трансформирует дорийский соноропериод, благодаря быстрой смене тембров (каждый инструмент играет минимум звуков). Октавер интенсивен. Микрохроматический интервал, так или иначе, интенсивен. Легато параллельно.

.mb-30
	+slider({
		title: 'Портфолио фотографа',
		list: g_img_list
	})(dataSmRows='2' dataSmCols='2' dataMdCols='3')