include ../components/slider
include ../mixins/card
include ../mixins/banner
include ../mixins/list

.main__space-col
	+card(card[8])(class='card_space_sm card_img_sm')

.row

	each val in [0, 5, 4]

		.col-sm-6.col-md-4.main__space-col
			+banner({
				link: banner[val].link,
				img: banner[val].img,
				text: banner[val].text
			})(class='banner_fog banner_contain wrapper__banner')

.main__space-col
	.block.block_text
		h2.title.title_sm.title_color_2.wrapper__text.main__space-bot-half О себе
		.text
			p Микрохроматический интервал имеет шоу-бизнес. Гармоническое микророндо представляет собой звукосниматель. Громкостнoй прогрессийный период регрессийно заканчивает аккорд. Цикл вызывает целотоновый эффект "вау-вау". Попса трансформирует дорийский соноропериод, благодаря быстрой смене тембров (каждый инструмент играет минимум звуков). Октавер интенсивен. Микрохроматический интервал, так или иначе, интенсивен. Легато параллельно.

.row

	.col-sm-5.col-md-4.main__space-col
		.block.block_height_full
			.main__space-bot
				h2.title.title_sm.title_color_2.wrapper__text.main__space-bot-half Программы
				+list(['Детский праздник', 'Новый год', 'Шоу программа', 'Вечеринка'])(class='list_sm wrapper__fill')
			.main__space-bot
				h2.title.title_sm.title_color_2.wrapper__text.main__space-bot-half Станции метро
				+list(['Садовая', 'Адмиралтейская', 'Ладожская', 'Комендантский проспект'])(class='list_sm wrapper__fill')

	.col-sm-7.col-md-8.main__space-col
		+slider({
			title: 'Фото',
			list: g_img_list
		})(class='slider_height_full' dataSmRows='2' dataMdCols='2')