include ../mixins/banner
include ../mixins/check
include ../mixins/select
include ../mixins/file-img
include ../mixins/cloud
include ../mixins/file-avatar

.mb-30
	.block

		.params-lg.params-lg_fixed-title.mb-10
			.params-lg__wrap

				.params-lg__row
					.params-lg__title
					.params-lg__value
						h2.title.title_md.wrapper__text.mb-10 Профиль площадки

						.text-gray.mb-20
							| Дата обновления: 30.11.2017 06:44:28
							br
							| Последняя авторизация: 30.11.2017 06:44:33

		form
			.row

				.col-md-4.push-md-8.col-xl-4.push-xl-8.main__vertical_between.mb-20.mb-md-15
					+file-avatar({
						id: 'fileAvatarAnimator',
						title: 'Фотография площадки'
					})(class='main__flex-banner')

				.col-md-8.pull-md-4.col-xl-8.pull-xl-4.mb-20.mb-sm-15
					.params-lg.params-lg_fixed-title
						.params-lg__wrap

							.params-lg__row
								.params-lg__title Название площадки
								.params-lg__value
									input.input(type='text' placeholder='Введите название...')

							.params-lg__row
								.params-lg__title Телефон
								.params-lg__value
									input.input.input_tel(type='tel' placeholder='+7 (___) ___-__-__')

							.params-lg__row.params-lg__row_valign_baseline
								.params-lg__title Теги
								.params-lg__value
									+cloud

							.params-lg__row
								.params-lg__title Станция метро
								.params-lg__value
									+select(select_10, {
										title: 'Выберите станцию...',
										modalTitle: 'Выберите станцию метро',
										modalBtn: 'Применить'
									})(class='select_light select_wide select_multiply')

			.params-lg.params-lg_fixed-title.mb-20
				.params-lg__wrap

					.params-lg__row.params-lg__row_valign_baseline.params-lg__row_space_half
						.params-lg__title Анимационные программы
						.params-lg__value
							.row.mb-5

								each val, i in check
									.col-6.col-md-3
										+check({
											id: 'profileCheck-2-' + i + 1,
											text: val
										})(class='check_fat wrapper__check')

					.params-lg__row.params-lg__row_valign_baseline
						.params-lg__title Описание
						.params-lg__value
							textarea.input(placeholder='Введите описание компании или площадки...')

					.params-lg__row.params-lg__row_valign_top
						.params-lg__title Фото
						.params-lg__value
							.params-lg__row-i.file-group(data-count='16')
								.col-6.col-md-4.params-lg__col-i.file-group__item-wrap(class= !i ? 'file-group__item-wrap_visible' : '')
									+file-img({
										id: 'fileImageParamsLg1-' + (i + 1)
									})(class='file-group__item')

			.row
				.col-md-8
					.params-lg.params-lg_fixed-title
						.params-lg__wrap

							.params-lg__row
								.params-lg__title
								.params-lg__value
									.row
										.col-sm-6.mb-20
											input.btn.btn_wide.btn_sm.btn_fill(type='submit' value='Сохранить')
										.col-sm-6.mb-20
											input.btn.btn_wide.btn_sm(type='reset' value='Отмена')