include ../components/pagination
include ../mixins/news

- for (var i = 0; i < 6; i++) {
	.mb-15.mb-sm-30
		+news(news[1])(class='news_arrow wrapper__news')
- }

.mb-15.mb-sm-30
	+pagination(3, 1)(class='wrapper__pagination')