.container
	.row
		.col-2
			h2.title .title
		.col-2
			h2.title.title_sm .title.title_sm
		.col-6
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur cumque est in ipsa minima nobis nostrum nulla omnis, quaerat? Alias, autem eius explicabo incidunt ipsum magni officia quo rerum?
		.col-2
			a.link(href='#') .link