$name: select;

.#{$name} {
	display: inline-block;
	max-width: 100%;

	&__current {
		@extend .btn;
		max-width: 100%;
		fill: $color-main;
		outline: none;
		padding-left: 20px;
		padding-right: 51px;
		margin: 0;
		appearance: none;

		&::before {
			content: '';
			position: absolute;
			top: 100%;
			left: 20px;
			right: 20px;
			height: 1px;
			background: lighten($color-main, 30%);
			display: none;
		}

		&_active {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-color: transparent;
			background: rgba(white, .8);

			&::before {
				display: block;
			}

			&:hover {
				color: $color-main;
				fill: $color-main;
			}

			.#{$name} {
				// =====

				&__icon {
					transform: rotate(180deg);
				}
			}
		}

		&.ui-button {
			width: auto;
		}
	}

	&__icon {
		position: absolute;
		right: 20px;
		top: 50%;
		width: 11px;
		height: 11px;
		margin-top: -5px;
		transition: transform $duration / 2 ease;

		&_multiply-empty {

		}

		&_multiply-ready {
			display: none;
		}
	}

	&__text {
		margin: 0;
	}

	&__list {
		z-index: 150;
		border: 0;
		background: rgba(white, .8);

		.ui-menu {
			list-style-type: none;
			padding: 0;
			margin: -1px 0 0;
			color: $color-main;
			border: 1px solid;
			border-top: none;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			max-height: 20em;
			position: relative;
			outline: none;
		}

		.ui-menu-item {

			&:first-child {

				.ui-menu-item-wrapper {
					padding-top: 10px;
				}
			}

			&:last-child {

				.ui-menu-item-wrapper {
					padding-bottom: 10px;
				}
			}
		}

		.ui-state-disabled {

			.ui-menu-item-wrapper {
				outline: none;
				color: $color-gray-dark;
				cursor: default;
				user-select: none;

				&.ui-state-active,
				&:active {
					color: $color-gray-dark;
				}
			}
		}

		.ui-menu-item-wrapper {
			@extend %transition;
			cursor: pointer;
			padding: 5px 20px;
			font-weight: 400;

			&.ui-state-active {
				color: $color-second;
			}

			&:active {
				color: $color-second-active;
			}
		}

		&_simple {

			.ui-menu {
				color: $color-text-dark;
				border: 1px solid $color-gray;
			}

			.ui-menu-item {

				&:first-child {

					.ui-menu-item-wrapper {
						padding-top: 6px;
					}
				}

				&:last-child {

					.ui-menu-item-wrapper {
						padding-bottom: 6px;
					}
				}
			}

			.ui-menu-item-wrapper {
				padding: 3px 20px 3px 6px;
				line-height: 1.2;
			}
		}
	}

	&_wide {
		display: block;

		.#{$name} {

			&__current {
				width: 100%;
			}
		}
	}

	&_light {

		.#{$name} {
			// =====

			&__current {
				color: $color-gray-dark;
				border-color: $color-main-light;
				fill: $color-gray-dark;

				&:hover {
					color: $color-second-light;
					border-color: $color-second-light;
					fill: $color-second-light;
				}

				&:active {
					color: $color-second-light-active;
					border-color: $color-second-light-active;
					fill: $color-second-light-active;
				}

				&_active {
					color: $color-gray-dark;
					border-color: $color-main;
					border-bottom-color: transparent;
					fill: $color-main;

					&:hover,
					&:active {
						color: $color-gray-dark;
						border-color: $color-main;
						border-bottom-color: transparent;
						fill: $color-main;
					}
				}
			}
		}
	}

	&_light-selected {

		.#{$name} {
			// ====

			&__current {
				color: $color-text-dark;

				&:hover {
					color: $color-second;
				}

				&:active {
					color: $color-second-active;
				}

				&_active {
					color: $color-text-dark;

					&:hover,
					&:active {
						color: $color-text-dark;
					}
				}
			}
		}
	}

	&_simple {

		.#{$name} {
			// =====

			&__current {
				fill: $color-text;
				color: $color-text-dark;
				border-radius: 0;
				border: none;
				border-bottom: 1px solid $color-gray;
				padding: 6px 31px 6px 0;

				&::before {
					display: none;
				}

				&:hover {
					color: $color-second;
				}

				&:active {
					color: $color-second-active;
				}

				&_active {

					&:hover {
						color: $color-text-dark;
						fill: $color-text;
					}
				}
			}

			&__icon {
				right: 0;
			}
		}
	}

	&_multiply {

	}

	&_multiply-ready {

		.#{$name} {
			// =====

			&__icon {

				&_multiply-empty {
					display: none;
				}

				&_multiply-ready {
					display: block;
				}
			}
		}
	}
}