include ../mixins/star
include ../mixins/select
include ../mixins/logo
include ../mixins/bread

// HEADER
header.header.wrapper__header(
	class= page.isHome ? 'header_home' : ''
	style= page.img ? 'background-image: url(' + page.img + ');' : null
)
	.container.header__wrap
		.header__row
			
			.header__col
				.header__logo-wrap
					+logo({
						link: !page.isHome
					})
				
			.header__col
				.header__btns-wrap
					.header__btns-col.header__btns-col_fixed
						+star(999)
					.header__btns-col.header__btns-col_grow
						+select(select, {
							wide: true
						})
					.header__btns-col
						a.btn.btn_fill.btn_wide(href='#') Личный кабинет

	if page.img
		.header__bg-outer
			.container.header__bg-wrap
				.row.header__bg-row
					.col-md-10.offset-md-1.header__bg-col

						+bread(class='header__bread')

						if page.hasTitle
							h1.title.title_color_white.title_lg.title_bold.header__title= page.title