$name: tab;

.#{$name} {

	&__link {

		&_active {
			color: $color-gray;
			cursor: default;

			&::before,
			&::after {
				opacity: 0;
			}
		}
	}

	&__target {
		display: none;

		@include screen-sm() {
			display: none;
		}

		&_active {
			display: block;

			@include screen-sm() {
				display: block;
			}

			&.#{$name}__target {

				&_display_table-row {

					@include screen-sm() {
						display: table-row;
					}
				}
			}
		}
	}
}