extends layouts/default

block vars
	-
		page = {
			title: 'Страница фотографа',
			link: 'detail-photographer.html',
			img: 'img/content/header/02.jpg',
			color: 'fifth'
		}

block content
	include pages/detail-photographer