extends layouts/default

block vars
	-
		page = {
			title: 'Страница площадки',
			link: 'detail-area.html',
			img: 'img/content/header/03.jpg',
			color: 'sixth'
		}

block content
	include pages/detail-area