extends layouts/default

block vars
	-
		page = {
			title: 'Страница дополнительной услуги',
			link: 'detail-service.html',
			img: 'img/content/header/04.jpg',
			color: 'eighth'
		}

block content
	include pages/detail-service