extends layouts/default

block vars
	-
		page = {
			title: 'Названы лучшие актёры 2017 года',
			link: 'news-detail.html',
			img: 'img/content/header/05.jpg',
			hasTitle: 'small',
			color: 'seventh',
			date: '5 ноября 2017 года'
		}

block content
	include pages/news-detail