extends layouts/default

block vars
	-
		page = {
			title: 'Обучение',
			hasTitle: true,
			link: 'offers-training.html',
			img: 'img/content/header/01.jpg',
			color: 'fourth',
			offerBtn: 'modalAddOffer'
		}

block content
	include pages/offers-training