extends layouts/default

block vars
	-
		page = {
			title: 'Объявления о продаже реквизита',
			hasTitle: true,
			link: 'offers-prop.html',
			img: 'img/content/header/08.jpg',
			color: 'seventh',
			offerBtn: {
				name: 'Разместить',
				modal: 'modalSellRequisite'
			}
		}

block content
	include pages/offers-prop