extends layouts/default

block vars
	-
		page = {
			title: 'Предложения по работе',
			hasTitle: true,
			link: 'offers-job.html',
			img: 'img/content/header/01.jpg',
			color: 'fourth',
			offerBtn: {
				name: 'Разместить предложение',
				modal: 'modalAddJobOffer'
			}
		}

block content
	include pages/offers-job