extends layouts/default

block vars
	-
		page = {
			title: 'Личный кабинет площадки',
			link: 'personal-area.html',
			img: 'img/content/header/03.jpg',
			color: 'sixth'
		}

block content
	include pages/personal-area