extends layouts/default

block vars
	-
		page = {
			title: 'Личный кабинет фотографа',
			link: 'personal-photographer.html',
			img: 'img/content/header/02.jpg',
			color: 'fifth'
		}

block content
	include pages/personal-photographer