extends layouts/default

block vars
	-
		page = {
			title: 'Профиль площадки',
			link: 'profile-area.html',
			img: 'img/content/header/03.jpg',
			color: 'sixth'
		}

block content
	include pages/profile-area