extends layouts/default

block vars
	-
		page = {
			title: 'Профиль фотографа',
			link: 'profile-photographer.html',
			img: 'img/content/header/02.jpg',
			color: 'fifth'
		}

block content
	include pages/profile-photographer