extends layouts/default

block vars
	-
		page = {
		title: 'Профиль аниматора',
		link: 'profile-animator.html',
		img: 'img/content/header/01.jpg',
		color: 'fourth'
		}

block content
	include pages/profile-animator