extends layouts/default

block vars
	-
		page = {
			title: 'Акции',
			link: 'stock.html',
			img: 'img/content/header/06.jpg',
			hasTitle: true,
			color: 'third'
		}

block content
	include pages/stock