extends layouts/default

block vars
	-
		page = {
			title: 'Квест для детей в подарок ко дню рождения',
			link: 'stock-detail.html',
			img: 'img/content/header/06.jpg',
			hasTitle: 'small',
			color: 'eighth',
			date: '5 ноября 2017 года'
		}

block content
	include pages/stock-detail